
{%- load_yaml as base_defaults %}

Debian:
  pkgs:
  - build-essential
  - unzip
#  - samba
#  - samba-common
#  - avahi-autoipd
#  - avahi-utils
  - libxslt-dev
  - virtualenv
  - python-pip
  dir:
    base: /srv/poppy
    notebooks: /srv/poppy/notebooks
    master: /srv/poppy/master
    logs: /var/log/poppy
    jupyter: /srv/poppy/.jupyter/custom
    snap: /srv/poppy/.local/share/pypot
  board: Raspberry Pi
  source:
    master:
      engine: git
      address: https://github.com/poppy-project/puppet-master.git
      revision: master
    monitor:
      engine: git
      address: https://github.com/poppy-project/poppy-monitor.git
      revision: master
    snap:
      engine: git
      address: https://github.com/jmoenig/Snap--Build-Your-Own-Blocks.git
      revision: 4.2.1.3
    notebooks:
      engine: git
      address: https://github.com/poppy-project/community-notebooks
      revision: master

{%- endload %}

{%- set creature = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('poppy:creature')) %}
