Source: salt-formula-poppy
Maintainer: Ales Komarek <ales.komarek@newt.cz>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), python, python-yaml
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-poppy
Vcs-Git: https://github.com/salt-formulas/salt-formula-poppy.git

Package: salt-formula-poppy
Architecture: all
Depends: ${misc:Depends}
Description: poppy salt formula
 Install and configure poppy.
